In [14]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn import preprocessing
df = pd.read_csv('./df_data.csv')

In [50]:
head =df.head()
categories = df.loc[:,'category'].unique()
data = df[head.columns.difference(['image_urls','image_urls_large','etc','path_description'])]

In [59]:
le = preprocessing.LabelEncoder()
for i in data.keys():
  data[i] = le.fit_transform(data[i])
  
data

C:\Users\user\AppData\Local\Temp\ipykernel_27216\2040109011.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i] = le.fit_transform(data[i])
C:\Users\user\AppData\Local\Temp\ipykernel_27216\2040109011.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i] = le.fit_transform(data[i])
C:\Users\user\AppData\Local\Temp\ipykernel_27216\2040109011.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i] = le.fit_transform(data[i])
C:\Users\user\AppData\Local\Temp\ipykernel_27216\2040109011.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i] = le.fit_transform(data[i])
C:\Users\user\AppData\Local\Temp\ipykernel_27216\2040109011.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i] = le.fit_transform(data[i])
C:\Users\user\AppData\Local\Temp\ipykernel_27216\2040109011.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i] = le.fit_transform(data[i])
C:\Users\user\AppData\Local\Temp\ipykernel_27216\2040109011.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i] = le.fit_transform(data[i])
C:\Users\user\AppData\Local\Temp\ipykernel_27216\2040109011.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i] = le.fit_transform(data[i])
C:\Users\user\AppData\Local\Temp\ipykernel_27216\2040109011.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i] = le.fit_transform(data[i])
C:\Users\user\AppData\Local\Temp\ipykernel_27216\2040109011.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i] = le.fit_transform(data[i])
C:\Users\user\AppData\Local\Temp\ipykernel_27216\2040109011.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i] = le.fit_transform(data[i])
C:\Users\user\AppData\Local\Temp\ipykernel_27216\2040109011.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i] = le.fit_transform(data[i])

,address,basic_info,category,companion,elevator_available,metadata,name,num_parkinglot,park_available,path_exists,toliet_available,wheelchair_rentable
0,89,254,1,1,1,195,223,0,1,0,1,1
1,11,123,2,0,0,199,33,0,0,1,1,0
2,124,21,3,0,1,74,1,14,1,1,1,1
3,74,143,1,0,0,207,184,2,1,1,1,0
4,181,203,1,1,0,212,160,1,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
250,129,235,2,1,0,41,28,0,1,0,1,0
251,107,199,4,1,0,183,204,0,0,1,0,0
252,180,177,1,0,1,2,178,1,1,1,1,1
253,205,224,1,0,0,113,152,0,1,1,1,1
254,29,231,1,0,0,147,225,0,1,1,0,0

In [65]:
# data["basic_info"].unique().shape
data

,address,basic_info,category,companion,elevator_available,metadata,name,num_parkinglot,park_available,path_exists,toliet_available,wheelchair_rentable
0,89,254,1,1,1,195,223,0,1,0,1,1
1,11,123,2,0,0,199,33,0,0,1,1,0
2,124,21,3,0,1,74,1,14,1,1,1,1
3,74,143,1,0,0,207,184,2,1,1,1,0
4,181,203,1,1,0,212,160,1,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
250,129,235,2,1,0,41,28,0,1,0,1,0
251,107,199,4,1,0,183,204,0,0,1,0,0
252,180,177,1,0,1,2,178,1,1,1,1,1
253,205,224,1,0,0,113,152,0,1,1,1,1
254,29,231,1,0,0,147,225,0,1,1,0,0